
:root {
  --foreground: #444;
  --background: white;
  --meta: #999;
  --highlight: LightSalmon;
  --border: #ddd;

  /*--foreground: #aaa;
  --background: black;
  --meta: #555;
  --border: #222;*/

  --simple-fade: ease-in-out;

  /*--gutter: 0.25em;*/
  /*--target-area: 0.8em;*/

  --sans: "mallory-book",
          BlinkMacSystemFont,
          -apple-system,
          "roboto",
          arial,
          sans-serif;
}

@custom-media --w-20  screen and (width >= 20rem);
@custom-media --w-50  screen and (width >= 50rem);
@custom-media --w-100 screen and (width >= 100rem);

@custom-media --w-l-50 screen and (width < 50rem);
