{%- assign countries = site.data -%}

<!-- BRITTLE CODE——CHANGES ON NUMBER OF PAGES -->
<!-- {%- for country in countries -%}
  {%- for city in country[1].cities -%}
    {%- for agency in city.agencies -%}
      {%- increment agency_count -%}
    {%- endfor -%}
  {%- endfor -%}
{%- endfor -%} -->

<footer class="site__footer">
  <ul class="site__footer__items">
    <li>
      {{ agency_count }} studios / {{ countries | size }} countries
    </li>

    <li>
      up/ {{ "now" | date: "%-d %b %Y" }}
    </li>
  </ul>
</footer>
