{%- assign countries = site.data.index.countries -%}

<!-- BRITTLE CODE——CHANGES ON NUMBER OF PAGES -->
<!-- {%- for country in countries -%}
  {%- for city in country.cities -%}
    {%- for agency in city.agencies -%}
      {%- increment agency_count -%}
    {%- endfor -%}
  {%- endfor -%}
{%- endfor -%} -->

<header class="site__header">
  <ul class="site__header__items">
    <li class="site__title">
      {{ site.title }}
    </li>
    <li class="old-style">
      <p>{{ countries | size }} countries, {{ agency_count | divided_by: 2}} agencies</p>
    </li>
  </ul>
</header>
