{%- assign countries = site.data.index.countries -%}

<!-- BRITTLE CODE——CHANGES ON NUMBER OF PAGES -->
<!-- {%- for country in countries -%}
  {%- for city in country.cities -%}
    {%- for agency in city.agencies -%}
      {%- increment agency_count -%}
    {%- endfor -%}
  {%- endfor -%}
{%- endfor -%} -->

<header class="site__header">
  <ul class="site__nav flex-x flex-justify">
    {%- assign pages = site.html_pages | sort: "order" -%}
    {%- for p in pages -%}
    {%- if p.order -%}
    <li>
      <a href="{{ p.url }}" {%- if page.url == p.url -%} class="active" {%- endif -%}>
        {{ p.title }}
      </a>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
</header>
