
.countries {
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

  .country {
    padding: 2em 0;
  }

  .country + .country {
    border-top: 2px solid currentColor;
  }

    .city::before {
      content: "|";
    }

      .agency {
        color: var(--foreground);
        display: inline-block;
        padding: 0 0.5em;
      }
