
main {
  border-top: 2px solid var(--border);
  border-bottom: 2px solid var(--border);
}

  .country + .country {
    border-top: 2px solid var(--border);
  }

    .city::before {
      content: "|";
    }

      .agency {
        color: var(--foreground);
        display: inline-block;
        padding: 0 0.5em;
      }

.legend {
  border-top: 2px solid var(--border);
  padding: 1em 0;
}
