
.site__footer {
  font-size: 1.25rem;
  padding: 1em 0.5em;
}

  .site__footer__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

    @media (--w-50) {
      .site__footer__items {
        flex-direction: row;
      }
    }
