
.site__header {
  color: var(--foreground);
  padding: 1em 0.5em;
}

  .site__header__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

    @media (--w-50) {
      .site__header__items {
        flex-direction: row;
      }

        .site__header__items li + li {
          padding-left: 1em;
        }
    }
